#
# See https://help.github.com/articles/ignoring-files
#

# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
out/
dist/
gen/

# IDE
.idea
.vscode

# OS/X
.DS_Store

# Webpack
.env*
!.env.*
version.json

# Tooling logs
*.log*
